@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout</title>
    <link rel="stylesheet" href="~/Content/css/common.css" />
    <link rel="stylesheet" href="~/Content/css/base.css" />
    <link rel="stylesheet" href="~/Content/plugins/pagination/pagination.css"/>
    @RenderSection("header", false)
    <script type="text/javascript" src="~/Content/plugins/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="~/Content/plugins/laydate/laydate.js"></script>
    <script type="text/javascript" src="~/Content/plugins/pagination/jquery.pagination.js"></script>
</head>
<body>
    <div class="header">
        <div class="toolbar">
            <div class="login">
                <a class="login-btn">登录</a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-wrap">
            @RenderBody()
        </div>
    </div>

    <div class="footer"></div>
    @RenderSection("footer", false)
</body>
</html>
