@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    @RenderSection("header", false)
</head>
<body>
    <div class="main">
        @RenderBody()
    </div>
    @RenderSection("footer", false)
</body>
</html>
