
@charset "utf-8";

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #000;
}

/*按钮*/
.btn-operate {
    border: 1px solid #c8c8c8;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0px 8px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    /*border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;*/
}

    .btn-operate:hover {
        background: #3faeef;
        border: 1px solid #3faeef;
        color: #fff;
    }

.btn-add {
    border: 1px solid #c8c8c8;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0px 12px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
}

    .btn-add:hover {
        border: 1px solid #3faeef;
    }
/*表格*/
.table-list {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #d6d6d6;
}

    .table-list thead tr {
        height: 40px;
        line-height: 40px;
    }

        .table-list thead tr td {
            background-color: #e8e8e8;
        }

    .table-list tbody tr:hover {
        background-color: #e8e8e8;
    }

    .table-list tbody tr td {
        line-height: 40px;
        height: 40px;
        border-top: 1px solid #d6d6d6;
    }

        .table-list tbody tr td:first-child {
            padding-left: 10px;
        }

.last-td {
    font-size: 0px;
}
